<!DOCTYPE html>
<html lang="pt" ng-app="angularUiApp">
<head>
	<meta charset="UTF-8">
	<base href="/">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="description" content="Especializada no desenvolvimento e implantação das soluções de Controle de Frequência mais completas e eficientes do mercado. Seja qual for o tamanho de sua Empresa, sua base de informatização e sistemas de coleta de dados que utilizam, a Norber desenvolve e implementa a solução ideal e mais inovdora.">
	<meta name="keywords" content="Soluções TI, "/>
	<link rel="icon" href="favicon.ico" />
	<title>Norber</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="app/css/main.min.css">
	<!-- Não esquecer google analytics -->
</head>
<body ng-controller="angularUiCtrls">
	<!--***** INÍCIO Banner *****-->
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="saiba-mais-box new-ponto-box bg-cover" scroll-on-click href="#new-ponto">
					<h1>New Ponto</h1>
					<p class="txt-main">A solução completa <br> para Gestão de Controle <br> de Frequência</p>
					<p class="txt-main text-right">SAIBA MAIS &rarr;</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="saiba-mais-box new-solucoes-box bg-cover" scroll-on-click href="#new-solucoes">
					<h1>New Solucões</h1>
					<p class="txt-main">Soluções sob medida <br> para as necessidades de <br> sua empresa</p>
					<p class="txt-main text-right">SAIBA MAIS &rarr;</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="saiba-mais-box new-mobile-box bg-cover" scroll-on-click href="#new-mobile">
					<h1>New Mobile</h1>
					<p class="txt-main">Aplicativo para marcação<br> de ponto em tempo real e<br> em qualquer localidade</p>
					<p class="txt-main text-right">SAIBA MAIS &rarr;</p>
				</div>
			</div>

		</div>
	</div><!--***** FIM Banner *****-->

	<!--***** INÍCIO New Ponto *****-->
	<div class="container-fluid new-ponto-wrapper" id="new-ponto">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<header class="h-main">
				<img class="img-responsive" src="app/img/new_ponto.png" alt="New Ponto">
				</header>
				<h3 class="h-secundario">
					Controle de Frequência
				</h3>
				<p class="txt-main">Com mais de 1 milhão de usuários em todo Brasil, o <span class="txt-destaque">NewPonto</span>  viabiliza o gerenciamento do ativo mais importante das Empresas: <br> <span class="txt-destaque">A jornada de trabalho de seus colaboradores!</span></p>

				<p class="txt-main">Desenvolvido para atender as demandas do Departamento de Recursos Humanos, permite uma gestão eficiente do controle de frequência, ocorrências e apontamentos. <br> Hora trabalhada, hora extra, demissão, afastamento, absenteísmo, tudo controlado de forma fácil, em tempo real, proporcionando produtividade e economia.</p>

				<p class="txt-main">Integrado às mais renomadas empresas de REP (Registro Eletrônico de Ponto) e Folhas de pagamento e adequado à legislação brasileira e a portaria 1510 do MTE.</p>
				<img src="app/img/int_new_ponto.png" alt="Integração New Ponto" class="img-integracao img-responsive center-block">
			</div>
			<div class="col-lg-6 bg-line">
				<img class="img-responsive" src="app/img/pic_01.png" alt="New Ponto">

				
				<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
			</div>
		</div>
	</div>
	</div><!--***** FIM New Ponto *****-->
	<!--***** INÍCIO New Mobile *****-->
	<div class="container-fluid new-mobile-wrapper" id="new-mobile">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-6">
			<div class="h-main">
			<img class="img-responsive" src="app/img/new_mobile.png" alt="New Mobile">
			</div>
			<h3 class="h-secundario">
				Controle de Ponto via Smartphone
			</h3>
			<p class="txt-main">Para agilizar a troca de informações entre o Departamento de Recursos Humanos, gestores e colaboradores, a Norber lançou um aplicativo exclusivo no mercado: <span class="txt-destaque">O NewMobile.</span></p>
			<p class="txt-main">Com ele, a marcação de ponto  e o tratamento de ocorrências, é realizada em tempo real de qualquer localidade e utilizando um Smartphone. </p>
			<p class="txt-main">O sistema registra o local onde o ponto foi marcado com auxílio do localizador GPS, podendo também ser limitado pela empresa, o perímetro no qual o colaborador poderá marcar o ponto.</p>
			<p class="txt-main">Tecnologias:<br>Android, iOS e Windows Phone</p>
			<img src="app/img/int_new_mobile.png" alt="Integração New Mobile" class="img-integracao img-responsive center-block">
			</div>
			<div class="col-lg-6 bg-line">
				<img class="img-responsive" src="app/img/pic_02.png" alt="New Mobile">
				<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
			</div>
			
		</div>
	</div>
	</div><!--***** FIM New Mobile *****-->

	<!--***** INÍCIO New Soluções Header *****-->
	<div class="container-fluid new-solucoes-h-wrapper" id="new-solucoes">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="app/img/new_solucoes.jpg" alt="New Soluções">

			</div>
		</div>
	</div>
	</div><!--***** FIM New Soluções Header *****-->

	<!--***** INÍCIO New Soluções *****-->
	
		
		<!-- carousel-example-generic -->
	<div id="produtos" class="carousel slide" data-interval="false">
               
      <!-- <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1"></li>
          <li data-target="#Carousel" data-slide-to="2"></li>
      </ol> -->
       
      <!-- Carousel items -->
      <div class="carousel-inner">
          
        <div class="item active">
        	<div class="container-fluid new-web-wrapper bg-cover">
			  <div class="container">
        	  <div class="row">
				<div class="col-lg-6">
				<div class="h-main">
				<img class="img-responsive" src="app/img/new_web.png" alt="New Web">
				</div>
				<div class="txt-wrapper">
					<header>
					<h3 class="h-secundario">Controle de Ponto via Internet ou Intranet.</h3>
					</header>
					<p class="txt-main">Desenvolvido para descentralizar as rotinas de tratamento do sistema de ponto, proporcionando autonomia para gestores e colaboradores, além de agilidade em todo processo.</p>
					<p class="txt-main">Cada gestor, ou o próprio colaborador, dependendo da flexibilidade de cada empresa e parametrização do sistema, visualiza de maneira confiável as ocorrências da sua equipe, permitindo acertos das marcações, consulta ao banco de horas, troca de escala e geração de relatórios, tudo on-line de forma prática e intuitiva.</p>
					<p class="txt-main">Além de todos estes benefícios, o <span class="txt-destaque">NewWeb</span> cria um perfil para cada usuário, personaliza as autorizações e visibilidade de acessos ao sistema.</p>
				</div>
				<img src="app/img/int_new_web.png" alt="Integração New Web" class="img-integracao img-responsive center-block">
				</div>

				<div class="col-lg-6 bg-line">
					<img class="img-responsive" src="app/img/pic_03.png" alt="New Web">
					<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
				</div>
			</div><!--.row-->
			</div>
			</div><!-- .container-fluid -->
        </div><!--.item-->
         
        <div class="item">
        	<div class="container-fluid new-mail-wrapper bg-cover">
			  <div class="container">
        	  <div class="row">
				<div class="col-lg-6">
				<div class="h-main">
				<img class="img-responsive" src="app/img/new_mail.png" alt="New Mail">
				</div>
				<div class="txt-wrapper"><!-- TXT-WRAPPER -->
				<header>
					<h3 class="h-secundario">Monitoramento On-line.</h3>
				</header>
				<p class="txt-main">Totalmente integrado aos outros módulos do <span class="txt-destaque">New Ponto</span>, simplifica o processo de gestão do ponto eletrônico, com o disparo de alertas via e-mail.</p>
				<p class="txt-main">Com uma simples parametrização, é possível determinar o destinatário e a quantidade e frequência do envio de e-mails das ocorrências do ponto. 
				De maneira simples, rápida e segura.</p>
				<p class="txt-main">
					<div class="row no-gutters">
					<div class="col-lg-4 txt-destaque">Alguns exemplos <br> de Ocorrências <br> do Sistema:</div>
					<div class="col-lg-8">
					<ul class="lista-new-mail txt-main">
						<li>- Irregularidade não justificada</li>
						<li>- Dias a justificar</li>
						<li>- Lançamentos de autorização de horas extras</li>
						<li>- Limitação de horas extras</li>
						<li>- Sinalização de horas extras acima do limite</li>
						<li>- Horas extras de intervalo</li>
						<li>- Saldo de horas compensáveis</li>
						<li>- Marcações irregulares ou únicas</li>
						<li>- Horas extras sem justificativas</li>
					</ul>
					</div>
					</div>
				</p>
				</div><!-- TXT-WRAPPER -->
				<img src="app/img/int_new_mail.png" alt="Integração New Mail" class="img-integracao img-responsive center-block">
				</div>

				<div class="col-lg-6 bg-line">
					<img class="img-responsive" src="app/img/pic_04.png" alt="New Mail">
					<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
				</div>
			</div><!--.row-->
			</div>
			</div><!--.container-fluid -->
        </div><!--.item-->
         
        <div class="item">
        	<div class="container-fluid new-rep-wrapper bg-cover">
			  <div class="container">
        	  <div class="row">
				<div class="col-lg-6">
				<div class="h-main">
				<img class="img-responsive" src="app/img/new_rep.png" alt="New Rep">
				</div>
				<div class="txt-wrapper"><!-- TXT-WRAPPER -->
				<header>
					<h3 class="h-secundario">Módulo de Integração com o REP – Registrador Eletrônico de Ponto</h3>
				</header>
				<p class="txt-main">Foi desenvolvido com o objetivo de diminuir falhas, automatizando o processo das marcações provenientes dos diversos modelos de REP.</p>
				<p class="txt-main"> O <span class="txt-destaque">NewREP</span> migra as informações do Registrador Eletrônico de Ponto – REP - para o <span class="txt-destaque">NewPonto</span>, além de integrar dados cadastrais de colaboradores provenientes de diversas áreas da Empresa, ampliando assim, as suas funcionalidades.</p>
				<p class="txt-main">Segurança e tranquilidade para o Departamento de Recursos Humanos gerir seu ativo mais importante: O colaborador e a sua jornada de trabalho.</p>
				<header>
					<h3 class="h-secundario">Principais funcionalidades</h3>
				</header>
				<ul class="txt-main">
					<li>Envio de dados dos colaboradores e recebimento de marcações</li>
					<li>Monitoramento de equipamentos</li>
				</ul>
				</div><!-- TXT-WRAPPER -->
				<img src="app/img/int_new_rep.png" alt="Integração New Rep" class="img-integracao img-responsive center-block">
				</div>

				<div class="col-lg-6 bg-line">
					<img class="img-responsive" src="app/img/pic_05.png" alt="New Rep">
					<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
				</div>
			</div><!--.row-->
			</div>
			</div><!--.container-fluid -->
        </div><!--.item--> 

        <div class="item">
        	<div class="container-fluid new-connect-wrapper bg-cover">
			  <div class="container">
        	  <div class="row">
				<div class="col-lg-6">
				<div class="h-main">
				<img class="img-responsive" src="app/img/new_connect.png" alt="New Connect">
				</div>
				<div class="txt-wrapper"><!-- TXT-WRAPPER -->
				<header>
					<h3 class="h-secundario">Módulo de Integração do Ponto Eletrônico com Folhas de Pagamento</h3>
				</header>
				<p class="txt-main">O <span class="txt-destaque">NewConnect</span> integra as informações de controle de frequência com a folha Folha de Pagamento. Todos os eventos do ponto, como horas trabalhadas, horas extras, dentre outros, são enviados automaticamente para a folha de pagamento, assim como as admissões e movimentações (afastamentos, férias e rescisões) são enviados ao sistema de tratamento de ponto, com segurança e rapidez.</p>
				<p class="txt-main">Com o <span class="txt-destaque">NewConnect</span> também é possível integrar outras informações de diversos sistemas, como: acesso, BI, financeiro, contábil, etc.</p>
				</div><!-- TXT-WRAPPER -->			
				<img src="app/img/int_new_connect.png" alt="Integração New Connect" class="img-integracao img-responsive center-block">
				</div>

				<div class="col-lg-6 bg-line">
					<img class="img-responsive" src="app/img/pic_06.png" alt="New Connect">
					<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
				</div>
			</div><!--.row-->
			</div>
			</div><!--.container-fluid -->
        </div><!--.item--> 

        <div class="item">
        	<div class="container-fluid new-rest-wrapper bg-cover">
			  <div class="container">
        	  <div class="row">
				<div class="col-lg-6">
				<div class="h-main">
				<img class="img-responsive" src="app/img/new_rest.png" alt="New Rest">
				</div>
				<div class="txt-wrapper"><!-- TXT-WRAPPER -->
				<header>
					<h3 class="h-secundario">Módulo de Controle de Refeições</h3>
				</header>
				<p class="txt-main">Com o <span class="txt-destaque">NewRest</span> é possível controlar o número de refeições e enviar diretamente para a Folha de Pagamento.</p>
				<p class="txt-main">Um produto alinhado com as necessidades do mercado corporativo e que permite o gerenciamento eficaz de registros das refeições de colaboradores, prestadores de serviços e terceiros. Também disponibiliza relatórios e informações diversas para a elaboração de planilhas e gráficos. </p>
				</div><!-- TXT-WRAPPER -->		
				<img src="app/img/int_new_rest.png" alt="Integração New Rest" class="img-integracao img-responsive center-block">
				</div>

				<div class="col-lg-6 bg-line">
					<img class="img-responsive" src="app/img/pic_07.png" alt="New Rest">
					<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
				</div>

			</div><!--.row-->
			</div>
			</div><!--.container-fluid -->
        </div><!--.item-->  

        <div class="item">
        	<div class="container-fluid new-acesso-wrapper bg-cover">
			  <div class="container">
        	  <div class="row">
				<div class="col-lg-6">
				<div class="h-main">
				<img class="img-responsive" src="app/img/new_acesso.png" alt="New Acesso">
				</div>
				<div class="txt-wrapper"><!-- TXT-WRAPPER -->
				<header>
					<h3 class="h-secundario">Módulo de Controle de Acesso</h3>
				</header>
				<p class="txt-main">Totalmente Integrado ao <span class="txt-destaque">NewPonto</span>, agrega e incorpora as necessidades cada vez maiores das empresas por soluções customizáveis para gerenciamento de acesso a portarias, portas, torniquetes, estacionamento e refeitórios.</p>
				<p class="txt-main">Com flexibilidade para bloqueios,  liberações e mensageria, além da possibilidade de integração com diversas soluções e softwares da Empresa. As ocorrências podem ser enviadas por meio de mensagens para as áreas competentes, oferecendo total gestão do fluxo de pessoas nas áreas gerenciadas, diminuindo possíveis contenciosos trabalhistas. </p>
				<p class="txt-main">Uma ferramenta web viabilizando o gerenciamento e acesso de qualquer lugar.</p>
				</div><!-- TXT-WRAPPER -->				
				<img src="app/img/int_new_acesso.png" alt="Integração New Acesso" class="img-integracao img-responsive center-block">
				</div>

				<div class="col-lg-6 bg-line">
					<img class="img-responsive" src="app/img/pic_08.png" alt="New Acesso">
					<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
				</div>
			</div><!--.row-->
			</div>
			</div><!--.container-fluid -->
        </div><!--.item-->   
        <div class="item">
        	<div class="container-fluid new-express-wrapper bg-cover">
			  <div class="container">
        	  <div class="row">
				<div class="col-lg-6">
				<div class="h-main">
				<img class="img-responsive" src="app/img/new_express.png" alt="New Express">
				</div>
				<div class="txt-wrapper"><!-- TXT-WRAPPER -->
				<header>
					<h3 class="h-secundario">Módulo de Controle de Acesso</h3>
				</header>
				<p class="txt-main">O <span class="txt-destaque">NewExpress</span> é um software para empresas com baixa complexidade na administração de controle de frequência e que necessitam cumprir as normas da portaria 1510/09.</p>
				<p class="txt-main">Com o <span class="txt-destaque">NewExpress</span> o usuário consegue visualizar, em uma única tela, todas as marcações realizadas diretamente no cartão de ponto: faltas, atrasos, opções de abono, horas extras e mudanças de horários.</p>
				<p class="txt-main">Comercializado juntamente com algumas marcas e modelos de REP do mercado.</p>
				</div><!-- TXT-WRAPPER -->			
				<img src="app/img/int_new_express.png" alt="Integração New Express" class="img-integracao img-responsive center-block">
				</div>

				<div class="col-lg-6 bg-line">
					<img class="img-responsive" src="app/img/pic_09.png" alt="New Express">
					<button class="bt-norber center-block" ng-click="open()"><strong>FALE COM A NORBER!</strong></button>
				</div>
			</div><!--.row-->
			</div>
			</div><!--.container-fluid -->
        </div><!--.item-->  
      </div><!--.carousel-inner-->
    
      <a data-slide="prev" href="#produtos" class="left carousel-control hidden-xs">‹</a>
      <a data-slide="next" href="#produtos" class="right carousel-control hidden-xs">›</a>
    </div>
	<!-- FIM carousel-example-generic -->
	<!--***** FIM New Soluções *****-->

	<!--***** INÍCIO Norber Tec *****-->
	<div class="container empresa-wrapper" id="empresa">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="h-tec text-center">
					NORBER TECNOLOGIA
				</h1>
				<p class="txt-main text-center">“ No trabalho. Em movimento. Em qualquer lugar. <br> Eficientes e confiáveis, as soluções da Norber conectam e facilitam o dia a dia das empresas e dos colaboradores.”</p>
				<div class="row">
				<div class="col-lg-2 col-lg-offset-7 txt-main text-center"><p class="txt-quote">Hélio Pousada<br><small>Diretor</small></p></div>
				</div>
				<p class="txt-main text-center">Especializada no desenvolvimento e implantação das soluções de Controle de Frequência mais completas e eficientes do mercado. <br>
				Seja qual for o tamanho de sua Empresa, sua base de informatização e sistemas de coleta de dados que utilizam,<br> a Norber desenvolve e implementa a solução ideal e mais inovdora.</p>
				<h1 class="h-tec text-center">
					NOSSAS EQUIPES
				</h1>
				<div class="row">
					<div class="col-lg-3 col-lg-offset-1"><img src="app/img/team_01.jpg" alt=""></div>
					<div class="col-lg-7">
						<h4 class="h-equipes">Implementação</h4>
						<p class="txt-main">Na Norber você conta com especialistas que o auxiliarão na definição do projeto, elaboração de um cronograma de implementação eficaz
						e no treinamento de suas equipes.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7 col-lg-offset-1">
						<h4 class="h-equipes text-right">Desenvolvimento</h4>
						<p class="txt-main text-right">Os produtos Norber estão em constante evolução, acompanhando as novas tecnologias e inovações. Uma equipe dedicada ao desenvolvimento de produtos e customizações de acordo com as necessidades da sua empresa.</p>
					</div>
					<div class="col-lg-4"><img src="app/img/team_02.jpg" alt=""></div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-lg-offset-1"><img src="app/img/team_03.jpg" alt=""></div>
					<div class="col-lg-7">
						<h4 class="h-equipes">Help Desk</h4>
						<p class="txt-main">Um time de analistas de RH pronto para atender e oferecer suporte às ocorrências do dia a dia. suporte@norber.com.br</p>
					</div>
				</div>
				<h1 class="h-tec text-center">
					TIMELINE
				</h1>
				
				<!-- TIMELINE COMPONENTE -->
				<div class="container">
					<div class="btn-group row">
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'1988'" popover-placement="top-left" uib-popover="Fundada pelo atual Diretor Operacional, com a atividade de empresa de desenvolvimento de software." popover-trigger="outsideClick">1988</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'1994'" popover-placement="top" uib-popover="Direcionamento da empresa para implantação exclusiva de Sistemas de Controle de Frequência." popover-trigger="outsideClick">1994</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'1997'" popover-placement="top" uib-popover="Lançamento do Ponto Eletrônico para versão Windows." popover-trigger="outsideClick">1997</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'1998'" popover-placement="top" uib-popover="Criação do Departamento Comercial / Marketing." popover-trigger="outsideClick">1998</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'1999'" popover-placement="top" uib-popover="Criação de parceiros de negócios em vários estados." popover-trigger="outsideClick">1999</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'2000'" popover-placement="top" uib-popover="Lançamento das soluções NewWeb e NewRest." popover-trigger="outsideClick">2000</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'2005'" popover-placement="top" uib-popover="Lançamento NewMail." popover-trigger="outsideClick">2005</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'2010'" popover-placement="top" uib-popover="Criação da política de cargos e salário, plano de carreira e benefícios. Mudança para a nova sede." popover-trigger="outsideClick">2010</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'2011'" popover-placement="top" uib-popover="Início da intermediação de vendas dos REP( Registrador Eletrônico de Ponto, homologado pelo Ministério do Trabalho, de acordo com a portaria 1510). Lançamento NewRep e NewConnect." popover-trigger="outsideClick">2011</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'2012'" popover-placement="top" uib-popover="Busca de novos mercados e lançamento no NewAcesso." popover-trigger="outsideClick">2012</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'2013'" popover-placement="top" uib-popover="25 anos da Norber. Criação e Estruturação de Projetos e Consultoria." popover-trigger="outsideClick">2013</label>
				        <label class="btn btn-primary col-sm-1" ng-model="radioModel" uib-btn-radio="'2015'" popover-placement="top-right" uib-popover="" popover-trigger="outsideClick">2015</label>
				    </div>
				</div><!-- FIM TIMELINE COMPONENTE -->

				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="center-block img-wrapper">
								<img src="app/img/rh_01.jpg" alt="">
								<img src="app/img/rh_02.jpg" alt="">
								<img src="app/img/rh_03.jpg" alt="">
							</div>
							<p class="txt-main txt-timeline text-center">A Norber é uma das principais fornecedoras de RH do Brasil, <br> recebendo inúmeros prêmios pela sua excelência.</p>
						</div>
						<div class="col-lg-6">
							<img class="center-block" src="app/img/bndes.jpg" alt="">
							<p class="txt-main txt-timeline text-center">A Norber é uma das principais fornecedoras de RH do Brasil, <br> recebendo inúmeros prêmios pela sua excelência.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--***** FIM Norber Tec *****-->

	<!--***** INÍCIO Clientes *****-->
	<div class="container-fluid bg-color-wrapper clientes-wrapper" id="clientes">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="h-tec text-center">
					Clientes
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2"><img src="app/img/clientes/pat_01.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_02.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_03.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_04.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_05.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_06.jpg" alt=""></div>
		</div>
		<div class="row">
			<div class="col-lg-2"><img src="app/img/clientes/pat_07.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_08.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_09.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_10.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_11.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_12.jpg" alt=""></div>
		</div>
		<div class="row">
			<div class="col-lg-2"><img src="app/img/clientes/pat_13.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_14.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_15.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_16.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_17.jpg" alt=""></div>
			<div class="col-lg-2"><img src="app/img/clientes/pat_18.jpg" alt=""></div>
		</div>
	</div>
	</div><!--***** FIM Clientes *****-->
	
	
	
	<!--***** INÍCIO Rodapé *****-->
	<div class="container-fluid rodape-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav-footer text-center">
					<li><a scroll-on-click href="#new-ponto">NEW PONTO</a></li>
					<li><a scroll-on-click href="#new-solucoes">NEW SOLUÇÕES</a></li>
					<li><a scroll-on-click href="#new-mobile">NEW MOBILE</a></li>			
					<li><a scroll-on-click href="#empresa">EMPRESA</a></li>
					<li><a scroll-on-click href="#clientes">CLIENTES</a></li>
					<li><a href="" ng-click="open()">CONTATO</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div><!--***** FIM Rodapé *****-->
	
	<!--***** CSS *****-->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="app/css/main.css">
	<!--***** SCRIPTS *****-->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="app/js/app.js"></script>
</body>
</html>